.Testimonial {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 5rem;
}

.testiWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.testiTitle h5 {
  text-decoration: overline #90caf9 0.2rem;
  padding-top: 10px;
}
.testiPart {
  text-align: center;
  height: 100%;
  width: 100%;
}

.carousel-inner {
  height: 300px;
  width: 70%;
  margin: 0 auto;
}
/* .carousel-item {
  height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  max-width: 100;
  margin-left: 13%;
} */
.TestiIcon {
  text-align: center;
}
.TestiImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: black solid 0.2rem;
}
.carousel-item h5 {
  padding-top: 5px;
  padding-bottom: 0;
}
.testiSub {
  font-size: 14px;
  padding: 0;
}

@media (max-width: 600px) {
  .Testimonial {
    padding: 0.2rem 2rem;
  }
  .carousel-inner {
    height: min-content;
    width: 70%;
    margin: 0 auto;
    font-size: 10px;
  }
}
@media (max-width: 1100px) {
  .carousel-item {
    padding-bottom: 2rem;
  }
}
